* {
  box-sizing: border-box;
  color:white;
}

body  {
  margin:0;
  background-color: white;
}

.splash-background  {
  background-image:url(https://drscdn.500px.org/photo/120706989/m%3D2048/d835c6cc44702c21f73d44919f6dec7b);
  width:100%;
  height:800px;
}
